.list_Section ul {
  display: flex;
  list-style: none;
  justify-content: right;
  /* padding: 0 30px; */
  /* justify-content: space-between; */
}

.list_Section ul li:hover {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #8d5d2a);
  color: white;
  cursor: pointer;
}

ul li {
  padding: 0 30px;
}
.main_Section {
  background: linear-gradient(to left top, #e66465, #9198e5);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
